html{
    --clr-primary-700 : #2a9d0d;
    text-align: center;
}


    
.dropdown {  
    display: inline-block;  
    position: relative;
    /* gap: 4rem; */
    /* margin: 0 auto; */
}

.select {
    position: relative;
    /* min-width: 200px; */
    width: 200px;
    margin: 0 auto 25px auto;
}
.select svg {
    position: absolute;
    right: 12px;
    top: calc(50% - 3px);
    width: 10px;
    height: 6px;
    stroke-width: 2px;
    stroke: #9098a9;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    pointer-events: none;
}
.select select {
    appearance: none;
    padding: 2px 40px 10px 12px;
    width: 100%;
    border: 1px solid #e8eaed;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 1px 3px -2px #9098a9;
    cursor: pointer;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    transition: all 150ms ease;
}
.select select:required:invalid {
    /* color: var(--clr-primary-700); */
    color:#223254;
}
.select select:required:invalid:hover {
    color: var(--clr-primary-700);
    color: #217f0a;
}
.select select option {
    color: #223254;
}
.select select option[value=""][disabled] {
    display: none;
}
.select select:hover {
    outline: none;
    color: var(--clr-primary-700);
    border-color: var(--clr-primary-700);
    box-shadow: 0 8px 15px 2px rgba(42,157,13,0.2);
}
.select select:hover + svg {
    stroke: var(--clr-primary-700);
}
.sprites {
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
    user-select: none;
}
.image-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 40rem; */
}
.image-description__image{
    /* align-self: center; */
    display: flex;
    align-items: center;
}
/* .image-description__image img{
    margin-top: 1rem;
} */
.image-description p{
    margin: 1rem;
}
/* .image-description div{
    align-self: center;
    display: flex;
    align-items: center;
} */
/* .image-description img{
    align-self: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
} */
.image-description > * + *{
    margin-top: 3rem;
    /* margin-top: 3rem; */
}
@media(min-width:733px)
{
    .image-description{
        flex-direction: row;
    }
    .image-description > * + *{
        margin-top: 0;
        margin-left: 3rem;
    }
}
/* .desc p{
    margin-top: 2rem;
} */
.add{
    /* margin-bottom: 0; */
    margin: 0;
}
/* .image-description img{
    width: 40vw;
    height: 22.5vw;
} */
.description{
    width: 40vw;
    font-size: 0.75rem;
}
.dropdown{
    margin-top: 3rem;
}
.campusMap, .hostelMap, .activityMap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.campusMap iframe, .hostelMap iframe, .activityMap iframe{
    width: 212.5px;
    height: 175px;
}
@media (min-width: 525px) {
    .campusMap iframe, .hostelMap iframe, .activityMap iframe{
        width: 425px;
        height: 350px;
    }
}
@media (min-width: 875px)
{
    /* .campusMap, .hostelMap, .activityMap{
    } */
    .campusMap iframe, .hostelMap iframe, .activityMap iframe{
        width: 637.5px;
        height: 525px;
    }
}
/* .description{
    width: 10%;
} */
/* .campusMap{
    display: block;
} */
/* width: 1000px;
height: 350px; */
/* .campusMap--transparent{
    max-height:0;
    height:0;
    opacity: 0;
    overflow: hidden;
    transition: height 2s;
}
.campusMap--opaque{
    max-height: 100%;
    height:100%;
    opacity: 100%;
    transition: height 2s;
} */

/* .campusMap{
    
} */